* {
	padding: 0;
	font-family: Helvetica, sans-serif;
}

body {
	margin: auto 0px auto 0px;
	box-sizing: border-box;
	display: grid;
	grid-template-columns: 150px;
	grid-template-rows: 200px 4fr;
	grid-template-areas: 
	"side top top"
	"side bot bot"
	"side bot bot";
}

aside {
    font-size: small;
	grid-area: side;
	background-color: rgb(55, 64, 80);
	color: #8995A6;	
}

.profile-picture {
    display: flex;
    justify-content: center;
    height: 140px;
    align-items: center;
}

.user-img {
	text-align: center;
}

.nav-img {
    border: 1px solid black;
    border-radius: 64%;
    margin-top: 20px;
    width: 65px;
}

.nav {
    border-top: 1px #282B30 solid;
}

.nav-title {
	font-size: 10px;
    padding-left: 13px;
    color: #546178;
}

.nav-link {
	font-size: 11px;
    padding-left: 5px;	
}

.nav-link:hover {
	padding-left: 2px;
	border-left: 3px #61DFF5 solid;
	background:  #282B30;
	color: white;
}

.fab, .fas {
    padding: 7px;
}

.square1 {
	color: yellow;
}

.square2 {
	color: #5BD5E8;
}

.square3 {
	color: red;
}

.square4 {
	color: #54C67D;
}

header {
	grid-area: top;
/*	background: red;*/
}

.header-search {
	display: grid;
    grid-template-columns: .5fr 5fr .5fr .5fr .5fr;
    height: 45px;
    border-bottom: 2px #DBDEDF solid;
}


.header-input {
    border: none;
	font-size: larger;
    height: 100%;
    margin-top: 0px;
    width: 95%;
}

::placeholder {
	color: #DBDEDF;
}
.header-top, .search-box {
	border-left: 2px #DBDEDF solid;
}

.header-top {

}

.csr-top {
	display: flex;
	justify-content: space-between;
}

.csr-title {

}

.location {
	display: flex;
	justify-content: center;
}

.csr-buttons {
	display: flex;
	align-items: center;
	padding: 20px;
}

.csr-links {
	display: flex;
	justify-content: space-around;
}


main {
	grid-area: bot;
	background: green;
}