* {
	box-sizing: border-box;
	font-family: Helvetica, sans-serif;
	padding: 0;
}

body {
	display: grid;
	grid-template-columns: 150px;
	grid-template-rows: 200px 4fr;
	grid-template-areas: 
	"side top top"
	"side bot bot"
	"side bot bot";
	margin: auto 0px auto 0px;
}

aside {
	background-color: rgb(55, 64, 80);
	color: #8995A6;	
    font-size: small;
	grid-area: side;
}

.profile-picture {
    align-items: center;
    display: flex;
    height: 140px;
    justify-content: center;
}

.user-img {
	text-align: center;
}

.nav-img {
    border: 1px solid black;
    border-radius: 64%;
    margin-top: 20px;
    width: 65px;
}

.nav {
    border-top: 1px #282B30 solid;
}

.nav-title {
    color: #546178;
	font-size: 10px;
    padding-left: 13px;
}

.nav-link {
	font-size: 11px;
    padding-left: 5px;	
}

.nav-link:hover {
	background:  #282B30;
	border-left: 3px #61DFF5 solid;
	color: white;
	padding-left: 2px;
}

.fab, .fas {
    padding: 7px;
}

.square1 {
	color: yellow;
}

.square2 {
	color: #5BD5E8;
}

.square3 {
	color: red;
}

.square4 {
	color: #54C67D;
}

header {
	grid-area: top;
}

.header-search {
    border-bottom: 2px #DBDEDF solid;
	display: grid;
    grid-template-columns: .5fr 5fr .5fr .5fr .5fr;
    height: 45px;
}


.header-input {
    border: none;
	font-size: larger;
    margin-top: 0px;
    width: 95%;
}

.search-box {
	display: flex;
	align-items: center;
}

::placeholder {
	color: #AEB0B0;
}

.input-img {
	color: #AEB0B0;
	margin: 0;
}

.header-top, .search-box {
	border-left: 2px #DBDEDF solid;
	margin: 0;
}

.header-top1, .header-top {
	display: flex;
    justify-content: center;
    align-items: center;
    color: #AEB0B0;
	font-size: x-large;
	margin: 0;
}

.header-top:hover,
.header-top1:hover {
	background: #20B9FF;
	color: white;
}

.csr-top {
	display: flex;
	justify-content: space-between;
}

.csr-title {

}

.location {
	display: flex;
	justify-content: center;
}

.csr-buttons {
	align-items: center;
	display: flex;
	padding: 20px;
}

.csr-links {
    color: #939595;
	display: flex;
    font-size: 12px;
    font-weight: bold;
	justify-content: start;
}

.csr-text {
    margin-right: 20px;
    margin-left: 20px;
}

.csr-text:hover {
    border-bottom: 3px solid #61DFF5;
    padding-bottom: 15px;
    color: black;
}

main {
	grid-area: bot;
	background: #DBDEDF;
}
